  .navigation > li:first-child a {
    color: initial;
  }

  .navigation > li:nth-child(2) a {
    color: var(--orange);
  }

  .header-logo {
    padding: 14px 0;
  }

  .title {
    margin: auto;
    width: 770px;
    color: var(--Dark, #0e1412);
    text-align: center;
    /* H2 */
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 52px; /* 123.81% */
  }


  .content-flex {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }

  .content-flex .video-item {
    background-color: var(--orange);
  }

  .thumbnail-wraper {
    position: relative;
  }

  .thumbnail-wraper .thumb {
    width: 100%;
    height: 426px;
    object-fit: cover;
  }

  .play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: none;
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
  }

  .info {
    padding: 25px 70px 20px 20px;
  }

  .info .video-title {
    color: var(--White, #fff);
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 32px; /* 145.455% */
  }

  .info .desc {
    width: 100%;
    margin-top: 15px;
    color: var(--White, #fff);
    /* P2 */
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
  }

  /* History */
  .history {
    margin-top: 150px;
  }

  .content-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
  }

  .hisory-info {
    max-width: 40%;
  }

  .hisory-info span {
    color: var(--Grey, #586863);
    /* Sub Heading */
    font-family: "Roboto Slab";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
  }

  .hisory-info .history-title {
    margin-top: 6px;
    width: 469px;
    color: var(--Dark, #0e1412);
    /* H2 */
    font-family: "Roboto Slab";
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 52px; /* 123.81% */
  }
  .hisory-info .desc {
    max-width: 100%;
    margin-top: 18px;
    text-align: left;
    color: var(--Grey, #586863);
    /* P1 */
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
  }

  .history-image {
    position: relative;
  }

  .history-image .thumb {
    width: 570px;
    height: 570px;
    object-fit: cover;
  }

  .history-image::before {
    display: block;
    content: "";
    position: absolute;
    width: 158px;
    height: 270px;
    background-color: var(--orange);
    bottom: 3px;
    left: -30px;
    z-index: -1;
  }

  .exp {
    margin-top: 150px;
    background-color: var(--yellow-light);
    padding: 100px 0;
  }

  .exp .content-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .exp .content-body span {
    color: var(--Dark, #0e1412);
    text-align: center;
    /* Sub Heading */
    font-family: "Roboto Slab";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
  }

  .exp .content-body .exp-title {
    margin-top: 6px;
    color: var(--Dark, #0e1412);
    text-align: center;
    /* H2 */
    font-family: "Roboto Slab";
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 52px; /* 123.81% */
  }

  .exp .content-body .exp-desc {
    margin-top: 20px;
    max-width: 710px;
    color: var(--Grey, #586863);
    text-align: center;
    /* P1 */
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
  }
  /*  */
  footer {
    margin-top: 150px;
  }
