* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

header, .hero, .about-hero, section {
  width: 100%;
  max-width: 100%;
}


html {
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1.6rem;
}

html {
  scroll-behavior: smooth;
}

:root {
  --orange: #fd6038;
  --dark: #0e1412;
  --green: #017848;
  --yellow-light: #f8ebc9;
  --grey: #586863;
  --white: #fff;
  --font-type: "Roboto Slab";
}

.content {
  width: 1170px;
  max-width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 242px;
  line-height: 60px;
  background: var(--Orange, #fd6038);
  color: var(--White, #fff);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}

/* Header */
header {
  background-color: var(--Yellow-Light, #f8ebc9);
  position: fixed;
  padding: 6px 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.menu-bar {
  display: none;
}

.menu-back {
  display: none;
}

nav,
.navigation {
  display: flex;
  align-items: center;
}

.navigation {
  margin-left: 210px;
}

.navigation li:first-child a {
  color: #fd6038;
}

.navigation a {
  padding: 8px 27px;
  color: var(--Dark, #0e1412);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px; /* 175% */
  display: flex;
  align-items: center;
  gap: 5px;
}

nav ul li {
  position: relative;
}

.hover {
  opacity: 0;
  visibility: hidden;
  rotate: 180deg;
  position: absolute;
  right: 27px;
}

.un-hover {
  rotate: -180deg;
}

.navigation li:hover .hover {
  opacity: 1;
  visibility: visible;
}

.navigation li:hover .un-hover {
  opacity: 0;
  visibility: hidden;
}

.navigation > li:hover > a {
  color: var(--orange);
}

.sub-menu {
  position: absolute;
  left: 10px;
  min-width: 185px;
  background-color: var(--white);
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  transition: all 0.3s;
}

.navigation > li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  height: 185px;
}

.sub-menu li a,
.sub-menu li:first-child a {
  padding-left: 12px;
  color: var(--Grey, #586863);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px; /* 175% */
  transition: padding-left 0.3s ease;
}

.sub-menu li:hover a {
  color: var(--orange);
  padding-left: 30px;
}

.sub-menu li:first-child:hover a {
  color: var(--orange);
  padding-left: 30px;
}

.navigation li:first-child a {
  color: var(--grey);
}

.nav-contact {
  margin-left: auto;
}

.nav-contact a {
  margin-right: 4px;
  color: var(--Dark, #0e1412);
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.nav-contact span {
  color: var(--Dark, #0e1412);
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 32px; /* 145.455% */
}

.hero {
  padding-top: 240px;
  padding-bottom: 141px;
  background-color: var(--yellow-light);
}

.hero .content-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 130px;
}

/* Roboto font */
.title,
.sub-title,
.about-us__info .about-us__tag,
.about-us .title,
.about-us .quantity span:first-child,
.services-header .services-tag,
.services-header .title,
.features-row__right .features-tag,
.features-row__left .title,
.teams .teams-tag,
.teams-header .title,
.awards-header .awards-tag,
.awards-header .title,
.clients-header .clients-tag,
.client-header__row .title,
.faq-header .faq-tag,
.faq-header .title,
.blogs .blog-tag,
.blog-header__left .title,
.cta-block .cta-tag {
  font-family: "Roboto Slab", sans-serif;
  color: var(--Dark, #0e1412);
}

.hero .sub-title {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.hero .title {
  margin-top: 12px;
  width: 570px;
  font-size: 6rem;
  font-weight: 800;
  line-height: 70px; /* 116.667% */
}

.hero .desc {
  margin-top: 18px;
  width: 470px;
  color: var(--Dark, #0e1412);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.hero .btn {
  margin-top: 38px;
}

.hero-image {
  position: relative;
  width: 470px;
  height: 476px;
  background: var(--Yellow, #fed464);
  border-right: 70px solid var(--Green, #017848);
  border-top: 70px solid var(--Green, #017848);
}

.hero-image img {
  position: absolute;
  top: -70px;
  right: 0;
}

.hero-right {
  position: relative;
  /* width: 50%; */
}

.hero-image__mask {
  position: absolute;
  top: 111px;
  right: -95px;
}

.hero-right__cta {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #0e1412;
  position: absolute;
  top: -38px;
  left: -50px;
  overflow: visible;
}

.hero-right__cta {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #0e1412;
  position: absolute;
  top: -38px;
  left: -50px;
}

.dots {
  margin-top: 55px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dots .dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #0e1412;
  cursor: pointer;
}

.dots .dot:first-child {
  background-color: #fd6038;
}

/* cta */
.cta-block {
  background: var(--Green, #017848);
  padding: 100px 0;
  margin-top: 150px;
}

.cta-block .content-wrapper {
  text-align: center;
}

.content-wrapper .cta-tag {
  color: var(--White, #fff);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.content-wrapper .title {
  color: var(--White, #fff);
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 52px; /* 123.81% */
}

.content-wrapper .desc {
  margin: auto;
  margin-top: 18px;
  width: 470px;
  color: var(--White, #fff);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.content-wrapper .btn {
  display: inline-block;
  margin-top: 38px;
  min-width: 242px;
}

/* Footer */
.footer {
  padding: 100px 135px 28px 135px;
  background-color: #0e1412;
}

.footer .footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 70px;
  padding-bottom: 55px;
  border-bottom: 1px solid #313d39;
}

.footer-title {
  color: var(--White, #fff);
  font-size: 2rem;
  font-weight: 700;
  line-height: 30px; /* 150% */
}

.footer-links {
  margin-top: 24px;
}

.footer-links li {
  margin-top: 16px;
}

.footer-links li a {
  padding: 8px 0;
  color: #beccc7;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.footer-links li a:hover {
  text-decoration: underline;
}

.footer-address {
  margin-top: 24px;
  width: 237px;
  color: #beccc7;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.call,
.mail-to {
  color: #beccc7;
}

.call:hover,
.mail-to:hover {
  text-decoration: underline;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
}

.footer-bottom .footer-brand p {
  margin-top: 12px;
  color: #beccc7;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.footer-socials {
  align-items: flex-end;
  display: flex;
  gap: 15px;
}

.footer-socials a {
  display: flex;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  background-color: #313d39;
}

.footer-socials a:hover {
  background-color: #fd6038;
}

.footer-map .embeb-map {
  border: none;
}