/* PC */
@media screen and (min-width: 992px) {
  .mobile-tablet-header {
    display: none;
  }

  .menu-display {
    display: none;
  }
}

/* Tablet and Mobile */
@media screen and (max-width: 991px) {
  .header-logo__wrap .header-logo {
    display: none;
  }

  .mobile-tablet-header {
    display: block;
  }

  .navigation {
    display: none;
  }

  .navigation__responsive .header-logo {
    display: block;
  }

  .menu-display {
    display: block;
    font-size: 24px;
  }

  .overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
  }

  #toggle:checked ~ .overlay {
    visibility: visible;
    opacity: 1;
  }

  .ease-menu {
    position: fixed;
    inset: 0 25% 0 0;
    background-color: #fff;
    z-index: 3;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  .mobile-tablet-header #toggle:checked ~ .ease-menu {
    transform: translateX(0);
  }

  .ease-menu__body .header-logo_ {
    display: block;
    margin-top: 40px;
  }

  .ease-menu__body {
    padding: 40px;
  }

  .ease-menu__body .navigation__responsive {
    margin-top: 80px;
  }

  .ease-menu__body .navigation__responsive li a {
    color: #0e1412;
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    font-size: 1.8rem;
    font-weight: 600;
    border-bottom: 1px solid #e0e0e0;
  }

  .hisory-info {
    max-width: 100%;
  }

  .history .content-wrapper {
    justify-content: center;
  }

  .footer-map .embeb-map {
    width: 298px;
    height: 180px;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .navigation {
    display: none;
  }

  .footer .footer-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
  }

  .footer-map .embeb-map {
    width: 298px;
    height: 180px;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  .title {
    max-width: 335px;
    color: var(--Dark, #0e1412);
    text-align: center;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 145.455% */
  }

  .title .content {
    max-width: 335px;
    margin-top: 40px;
  }

  .videos .content-flex {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .hisory-info .history-title {
    max-width: 100%;
    color: var(--Dark, #0e1412);
    font-family: "Roboto Slab";
    font-size: 3rem;
    font-weight: 700;
    line-height: 37px; /* 123.333% */
  }

  .hisory-info .desc {
    max-width: 100%;
    font-size: 1.2rem;
  }

  .history-image .thumb {
    width: 318.25px;
    height: 318.25px;
    flex-shrink: 0;
  }

  .exp .content-body .exp-title {
    max-width: 335px;
    color: var(--Dark, #0e1412);
    text-align: center;
    font-family: "Roboto Slab";
    font-size: 30px;
    font-weight: 700;
    line-height: 37px; /* 123.333% */
  }

  .exp .content-body .exp-desc {
    max-width: 100%;
    font-size: 1.2rem;
  }

  footer .footer-container {
    max-width: 100%;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .footer-title {
    width: 100%;
  }

  .footer {
    padding: 40px 0;
  }

  .footer .footer-container {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .footer .footer-column h4 {
    margin-bottom: 10px;
  }

  .footer .social {
    justify-content: center;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 20px;
  }

  .footer-bottom .footer-brand p {
    width: 100%;
    color: #beccc7;
    /* P3 */
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
  }
}
